main {
	height: 100%;
	overflow: auto;
}

.bg-image {
	z-index: -1;
	position: fixed;
}

nav>a {
	text-decoration: none;
	color: white;
	padding: 1em;
}


.base_header {
	top: 0;
	left: 0;
	height: 6em;
	background-color: #12245bdd;
	backdrop-filter: blur(5px);
	position: sticky;
	z-index: 1;
}

.header_content {
	padding: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.header_content>a {
	display: flex;
	margin: auto;
	text-decoration: none;
	color: white;
	display: inline-flexbox;
}

.login_href {
	margin-left: 50%;
	margin-right: 1em;
}


.logo_img {
	margin: auto;
	text-decoration: none;
	color: white;
	display: inline-flexbox;
	height: 5em;
}

.challenge-name {
	display: inline-block;
	margin-right: 1em;
	padding: 0.8em;
	border-radius: 0.8em;
	background-color: #f0f0f0;
}

.cource-card {
	background-color: white;
	box-shadow: 5px 5px 15px #ddd;
	padding: 2em;
	border-radius: 1em;
	border: 2px solid #ddd;
	margin-top: 2em;
}

.cources-list {
	padding: 1em 20em;
	margin-left: 300px;
}

.side-panel {
	margin-left: 5em;
	overflow-x: hidden;
	height: 100%;
	width: 300px;
	position: fixed;
	top: 10em;
	left: 0;
	z-index: 1;
	padding: 1em;
}

.side-panel-content {
	border-radius: 1em;
	/* height: 100%; */
	border: 2px solid #ddd;
	padding: 1em;
}

.ball-entry {
	display: inline;
	width: 3em;
}

.pass-ball {
	text-align: center;
	display: inline-flex;
}

.login-box {
	display: flex;
	height: 100%;
	padding: 4em;
	justify-content: center;
}

.login-form {
	min-width: 30em;
	border-radius: 1em;
	border: 2px solid #ddd;
	padding: 1em;

}

.cource-edit {
	height: 100%;
	padding: 4em;
	justify-content: center;
}

/* .header_content { */
/* 	padding: 1em; */
/* } */
