main {
	height: 100%;
	width: 100%;
	overflow: auto;
	height: 100%;
}

.background-img {
	background-size: auto;

}


.base_header {
	height: 8em;
	background-color: #23356c;

}

.header_content {
	display: flex;
}

.header_content>a {
	display: flex;
	margin: auto;
	text-decoration: none;
	color: white;
	display: inline-flexbox;
}

.login_href {
	margin-left: 50%;
	margin-right: 1em;
}


.logo_img {
	margin: auto;
	text-decoration: none;
	color: white;
	display: inline-flexbox;
	height: 7em;
}

.challenge-name {
	display: inline-block;
	margin-right: 1em;
	padding: 0.8em;
	border-radius: 0.8em;
	background-color: #f0f0f0;
}

.cource-card {
	padding: 2em;
	border-radius: 1em;
	border: 2px solid #ddd;
	margin-top: 2em;
}

.cources-list {
	padding: 1em 20em;
	margin-left: 300px;
}

.side-panel {
	overflow-x: hidden;
	height: 100%;
	width: 300px;
	position: fixed;
	top: 10em;
	left: 0;
	z-index: 1;
	padding: 1em;
}

.side-panel-content {
	border-radius: 1em;
	/* height: 100%; */
	border: 2px solid #ddd;
	padding: 1em;
}

.ball-entry {
	display: inline;
	width: 3em;
}

.pass-ball {
	text-align: center;
	display: inline-flex;
}

/* .header_content { */
/* 	padding: 1em; */
/* } */
