{% extends "base.html" %}

{% block content %}
<div class="cource-edit">
	<div class="glass-card">
		<form action="" , method="post">
			{{ form.hidden_tag() }}
				{{ form.title.label }}
				{{ form.title(type="text", class="form-control") }}
				<br>
				{{ form.desc.label }}
				{{ form.desc(type="text", class="form-control") }}
			<br>
				{{ form.ball.label }}
				{{ form.ball(type="number", class="form-control") }}
			<hr>

			<p>{{ form.math(type="checkbox", class="form-check-input") }} {{ form.math.label }}</p>
			<p>{{ form.russian_lang(type="checkbox", class="form-check-input") }} {{ form.russian_lang.label }} </p>
			<p>{{ form.physics(type="checkbox", class="form-check-input") }} {{ form.physics.label }}</p>
			<p>{{ form.it(type="checkbox", class="form-check-input") }} {{ form.it.label }}</p>
			<p>{{ form.sosial(type="checkbox", class="form-check-input") }} {{ form.sosial.label }}</p>
			<p>{{ form.chemystry(type="checkbox", class="form-check-input") }} {{ form.chemystry.label }}</p>
			<p>{{ form.liter(type="checkbox", class="form-check-input") }} {{ form.liter.label }}</p>
			<p>{{ form.geography(type="checkbox", class="form-check-input") }} {{ form.geography.label }}</p>
			<p>{{ form.forein_lang(type="checkbox", class="form-check-input") }} {{ form.forein_lang.label }}</p>
			<table style="width:100%">

				{{ form.submit(class="btn btn-primary") }}

				<p style="color: red">{{mesage}}</p>
		</form>
	</div>
</div>
{% endblock %}
