{% extends "base.html" %}

{% block content %}
<div class="side-panel">
	<div class="side-panel-content">
		<form action="", method="post">
		{{ form.hidden_tag() }}
		<h2>Поиск:</h2>
		<p>По названию:</p>
		<p>{{ form.by_name(class="form-control", type="text")}}</p>

		<p>По баллам:</p>
		<p>От {{ form.min_ball(class="form-control", type="text", class="ball-entry", placeholder="0")}} до {{ form.max_ball(class="form-control", type="text", class="ball-entry", placeholder="∞")}}</p>
		<p style="color: red">{{mesage}}</p>
		<p>{{ form.math(type="checkbox", class="form-check-input") }} {{ form.math.label }}</p>
		<p>{{ form.russian_lang(type="checkbox", class="form-check-input") }} {{ form.russian_lang.label }} </p>
		<p>{{ form.physics(type="checkbox", class="form-check-input") }} {{ form.physics.label }}</p>
		<p>{{ form.it(type="checkbox", class="form-check-input") }} {{ form.it.label }}</p>
		<p>{{ form.sosial(type="checkbox", class="form-check-input") }} {{ form.sosial.label }}</p>
		<p>{{ form.chemystry(type="checkbox", class="form-check-input") }} {{ form.chemystry.label }}</p>
		<p>{{ form.liter(type="checkbox", class="form-check-input") }} {{ form.liter.label }}</p>
		<p>{{ form.geography(type="checkbox", class="form-check-input") }} {{ form.geography.label }}</p>
		<p>{{ form.forein_lang(type="checkbox", class="form-check-input") }} {{ form.forein_lang.label }}</p>
		<p>{{ form.submit(class="btn btn-primary") }}</p>
		</form>

		{% if current_user.is_authenticated %}
		<hr>
		<a class="btn btn-success" href="/cources/edit/new">Добавить новый</a>
		{% endif %}
	</div>
</div>
<div class="cources-list">
	{% set flag = True %}

	{% for cource in cources %}
	<div class="cource-card">
		<h3>{{cource.title}}</h3>
		<p><bold>Описание: </bold>{{cource.desc}}</p>
		<hr>
		<table>
			<thead>
				<th>
					<h4 class="w100">Экзамены:</h4>
				</th>
				<th style="width: 10%">
					<h6 class="pass-ball">Проходние баллы: </h6>
				</th>
			</thead>
			<tbody>
				<tr>
					<td>
						{% if cource.math %}
						<p class="challenge-name">Математика</p>
						{% endif %}
						{% if cource.physics %}
						<p class="challenge-name">Физика</p>
						{% endif %}
						{% if cource.russian_lang %}
						<p class="challenge-name">Русский язык</p>
						{% endif %}
						{% if cource.it %}
						<p class="challenge-name">Информатика</p>
						{% endif %}
						{% if cource.sosial %}
						<p class="challenge-name">Обществознание</p>
						{% endif %}
						{% if cource.chemyctry %}
						<p class="challenge-name">Химия</p>
						{% endif %}
						{% if cource.liter %}
						<p class="challenge-name">Литература</p>
						{% endif %}
						{% if cource.geography %}
						<p class="challenge-name">География</p>
						{% endif %}
						{% if cource.forein_lang %}
						<p class="challenge-name">Иностранный язык</p>
						{% endif %}
					</td>
					<td>
						<h4 style="text-align:center">{{ cource.c_ball }}</h4>
					</td>
				</tr>
			</tbody>
		</table>
		{% if current_user.is_authenticated %}
		<a class="btn btn-warning" href="/cources/edit/{{ cource.id }}">Изменить</a>
		{% endif %}
	</div>
	{% endfor %}

</div>
{% endblock %}
